@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@700&family=Tangerine:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 5px;
    background-color: #fff;
    border-radius: 20px;
    
}
::-webkit-scrollbar-thumb{
    border-radius: 20px;
    width: 5px;
    background-color: rgb(111, 28, 87);
}

body{
    position: relative;
}
.main{
    padding: 50px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 100px;
    height: 100vh;
    z-index: 100;
    background-color: transparent;
    position: relative;   
}



    

.mainBottom{
    position: relative;
    top: 40px;
    display: flex;
    justify-content: center;
    gap: 50px;
    transition: all ease 1s;
}
.mainBottom>div{
    position: relative;
}

.mainBottom>div>h1{
    position: absolute;
    left: 0%;
    top: 0%;
    visibility: hidden;
    transition: top 1s ease;
    color: #e6e6e6b2;
    pointer-events: none;
}




.mainBottom>div>img{
    width: 200px;
    padding: 10px;
    background-color:#ebb0c6 ;
    border-radius: 5px;
    filter: grayscale(1);
    
    transition: transform 1s ease;
    cursor: pointer;
}


.img1{
    transform: rotate(-30deg);
    z-index:30;
}

.img2{
    z-index: 30;
    transform: rotate(30deg);
}

.img1:hover{
    transform:scale(1.1) rotate(0);
    filter: grayscale(0);
    background-color: #D63484;
}

.img2:hover{
    transform: scale(1.1) rotate(0);
    filter: grayscale(0);
    background-color: #D63484;
}

.img1:hover~ h1{
    /* position: absolute; */
    left: 50%;
    top: 50%;
    visibility: visible;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 10;
}
.img2:hover~ h1{
    /* position: absolute; */
    left: 50%;
    top: 50%;
    visibility: visible;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 12;
}

.img1Hover>div{
    color: #fff;
    font-size: 20px;
    z-index: 10;   
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    width: 100%;
    /* height: 90%; */
    flex-basis:80% ;

}


.img1Hover{
    position: absolute;
    background-color: #cdb4db8f;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    /* gap: 20px; */
    display: flex;
    flex-direction: column;
    width: 90%;
    height:85vh;
    color: #073a5c;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    overflow: hidden;
     display: none;
}


.img1Hover button{
    border: none;
    padding: 10px 20px;
    /* flex-basis: 20%; */
    background-color: #ffafcc;
    border-radius: 20px;
    color: #073a5c;
    cursor: pointer;

}
.img1Hover>div>img{
    width: 200px;
    border-radius: 20px;
    
    
}

 .img1Hover>div>p{
    font-weight: 400;
    font-family: 'Tangerine', cursive;
    flex-basis: 70%;
    font-size: 35px;
    color: #073a5c;
    background-color: #ffc8dd;
    height:70vh;
    overflow-y: scroll;
    padding: 20px;
    border-radius: 20px;
} 


  
  .center {
    position: relative;
    display: flex;
    justify-content:first baseline;
    flex-direction: column;
    gap: 50px;
    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
 

  .title-word {
    animation: color-animation 4s linear infinite;
  }
  
  .title-word-1 {
    --color-1: #DF8453;
    --color-2: #3D8DAE;
    --color-3: #E4A9A8;
  }
  
  .title-word-2 {
    --color-1: #DBAD4A;
    --color-2: #ACCFCB;
    --color-3: #17494D;
  }
  
  .title-word-3 {
    --color-1: #ACCFCB;
    --color-2: #E4A9A8;
    --color-3: #ACCFCB;
  }
  
  .title-word-4 {
    --color-1: #3D8DAE;
    --color-2: #DF8453;
    --color-3: #E4A9A8;
  }
  
  @keyframes color-animation {
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
  }
  
  /* Here are just some visual styles. 🖌 */
  
  .container {
    display: grid;
    place-items: center;  
    text-align: center;
    height: 100px;
  }
  
  .title {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 60px;
    text-transform: uppercase;
  }
  
  @keyframes move {
    from {
      left: 800px;
    }
    to {
      left: -800px;
    }
  }
  #animationDiv {
    margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      width: 100%;
    background-color:#ffafcc ;


      overflow:hidden;
      z-index: 1;
      display: flex;
      align-items: start;
      position: absolute;
      top: 0;
      left: 0;
      
    }
  
    .flower {
      position: absolute;
      width: 50px;
      height: 50px;
      animation: flower-fall 5s linear infinite;
    }
  
    .flower1 {
      background-image: url(./Assets/flower1.png);
      background-size: contain;
    }
  
    .flower2 {
      background-image: url(./Assets/flower2.png);
      background-size: contain;
    }
    .flower3 {
      background-image: url(./Assets/flower3.png);
      background-size: contain;
    }
    .flower4 {
      background-image: url(./Assets/flower4.png);
      background-size: contain;
    }
    .flower5 {
      background-image: url(./Assets/flower5.png);
      background-size: contain;
    }
    .flower6 {
      background-image: url(./Assets/flower6.png);
      background-size: contain;
    }
    @keyframes flower-fall {
      0% {
        transform: translateY(-50px) rotate(0deg);
      }
      100% {
        transform: translateY(calc(100vh + 50px)) rotate(360deg);
      }
    }